@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

.container-chamados {
  text-align: center;
  margin: 50px;
  height: 100vh;
}

h1 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

.Tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

.Tabela th,
.Tabela td {
  padding: 1.3vh;
  border: 1px solid #000000;
}

.Tabela th {
  background-color: #00a1fc;
  color: #ffffff;
}

.Tabela img {
  max-width: 100px;
  height: auto;
}

.Tabela a {
  text-decoration: none;
  color: #000;
}

.Tabela td.finalizado {
  font-weight: bold;
  color: #21da0d; /* ou a cor que você preferir */
}

.Tabela td.iniciado {
  font-weight: bold;
  color: rgb(0, 166, 231); /* ou a cor que você preferir */
}

.Tabela td.processando {
  font-weight: bold;
  color: #ffa500; /* ou a cor que você preferir */
}

@media screen and (max-width: 768px) {
  .Tabela th,
  .Tabela td {
    font-size: 14px;
    padding: 8px;
  }

  .Tabela img {
    max-width: 80px;
  }
}
