@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

.editar-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container-tela {
  text-align: center;
  margin-bottom: 20px; 
}

.container-tela h1 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10%;
}

.container-editarProduto {
  background-color: #f4f4f4; 
  border: 2px solid #00a1fc; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  max-width: 600px; /* Largura máxima do conteúdo */
  width: 90%; /* Largura de 90% da tela */
}

.container-editarProduto form {
  width: 100%; /* Formulário ocupando 100% da largura */
}

.container-editarProduto fieldset {
  border: none; /* Removendo a borda do fieldset */
  padding: 0;
}

.container-editarProduto legend {
  font-weight: bold;
  color: #000000; /* Cor do título do fieldset */
  margin-bottom: 10px; /* Espaçamento abaixo do título do fieldset */
  font-size: 20px;
}

.container-editarProduto div > div {
  margin-bottom: 10px;
}

.container-editarProduto input,
.container-editarProduto select {
  width: calc(100% - 22px); /* Largura total menos o espaçamento do padding */
  padding: 10px;
  margin: 3px 0 10px 0;
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  box-sizing: border-box; /* O padding não aumenta a largura total */
}

.container-editarProduto button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #00a1fc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}


.container-editarProduto button:hover {
  background-color: #007bbd; /* Cor quando o botão é hover */
}

@media (max-width: 600px) {
  .container-editarProduto {
    width: 100%; /* Altera a largura para 100% em telas pequenas */
  }
}
