.integrantes-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2%;
}

.integrante-card {
  text-align: center;
  margin: 15px;
}

.foto-integrante {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #fff;
}

.info-integrante {
  margin-top: 10px;
}

.nome-integrante {
  font-weight: bold;
  display: block;
}

.rm-integrante {
  color: #555;
}

.repo-links {
  text-align: center;
  margin-top: 20px;
}

.repo-links a {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
}

.rep-link {
  color: #000000;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.rep-link:hover {
  background-color: #3b9aff;
  color: #ffffff;
}
